// Here you can add other styles

.w-98{
    width: 98%;
}
li.nav-item{
    list-style-type: none;
}
.selectAttend{
    font-size: 18px;
}

.dropdown-menu.is-active{
    display: block!important;
}
.dropdown-item{
font-size: $standfontsize;
cursor: pointer;
}
.alertify-logs {
    right: 16px;
    left:unset!important;
    text-align: left;
    }
.ar{
    text-align: right;
}
.al{
    text-align: left;
}
.ac{
    text-align: center;
}